* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/bakgrund.png') repeat center center;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    background: url("../img/head_banner.png") no-repeat center center;
    background-size: contain;
    padding-bottom: 20px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding-top: 20px;
}

.game-info {
    border: 2px solid #193e1e;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    width: 63%;
    background-color: #0c361a;
    color: #fff;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.83);
    -moz-box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.83);
    box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.83);
}

.game-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    perspective: 1000px;
}

#searchdiv {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin-top: 20px;
}

#searchterm {
    margin-left: 10px;
    border: 1px solid #bebebe;
    padding: 7px;
    outline: 0;
    width: 200px;
}

#submit {
    background: #23382a;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline-style: none;
    transition: all 0.2s ease-out;
}

#submit:hover {
    background: #358a51;
}


/* Visibility */

.active {
    transform: translateZ(0px) rotateY(180deg) !important
}

.active::after {
    display: none
}

.card {
    width: 150px;
    height: 150px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.card::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 14px 50px -4px hsla(0, 0%, 0%, 0.15);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.front {
    background: url('../img/cardback.png') no-repeat center center;
    background-size: cover;
    z-index: 2
}

.back {
    transform: rotateY(180deg);
    border-radius: 16px;
}

.spinner {
    background: url('../img/spinner.png') no-repeat center center;
    width: 179px;
    height: 168px;
    /* border: 4px solid #f3f3f3;
    border-top: 3px solid #14dd40;
    border-radius: 100%; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* animation: spin 1s infinite linear; */
    -webkit-animation: blink-1 0.6s ease-in-out infinite both;
    animation: blink-1 0.6s ease-in-out infinite both;
}


/* @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */

@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}