* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/bakgrund.png');
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding-top: 20px;
}

.game-info {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: 50px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    perspective: 1000px;
}

#searchdiv {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin-top: 20px;
}

#searchterm {
    margin-left: 10px;
    width: 150px;
}

#submit {
    margin-left: 5px;
    width: 60px;
}


/* Visibility */

.active {
    transform: translateZ(0px) rotateY(180deg) !important
}

.active::after {
    display: none
}

.card {
    width: 150px;
    height: 150px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
}

.card::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 14px 50px -4px hsla(0, 0%, 0%, 0.15);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.disable-card-click {
    pointer-events: none;
}

.front {
    background: url('img/cardback.png') no-repeat center center;
    background-size: cover;
    z-index: 2
}

.back {
    transform: rotateY(180deg);
    border-radius: 16px;
}