* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/bakgrund.png');
    /* background: radial-gradient(rgba(111, 194, 219, 0.603), rgba(236, 217, 104, 0.699)); */
}

.container {
    height: 100vh;
    width: 70rem;
    margin-left: 14rem;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding-top: 20px;
}

.game-info {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: 50px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
}

.card {
    background: black;
    height: 170px;
    width: 150px;
    cursor: pointer;
    background-image: url('/img/cardback.png');
    border-radius: 10px;
}